.services {
    margin-top: 10rem;

    h2 {
        font-size: 2.1rem;
        margin: 0 auto;
        position: relative;
        font-weight: 500;
        color: #444;
        max-width: 80rem;
        margin-bottom: 6rem;
        padding-left:2rem;

        &:after {
            width:13rem;
            height:1px;
            background: var(--color-black);
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 2rem;
        }
    }
}

.servicesWrapper {
    max-width: 80rem;
    margin: 0 auto;
}

.servicesBackground{
    padding: 2rem;
    padding-top: 4rem;
    background: #dbdfe0;
}