.introductionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 15px black;
    height: calc(100vh - 7rem);
    margin: 0 1rem 1rem 1rem;
    
    &:before,
    &:after{
        filter: brightness(0.5) grayscale(0.4);
    }

    h1 {
        width: 90%;
        max-width: 50rem;
        text-align: center;
        line-height: 1.5;
        font-size: 2rem;
        margin-top:0;
    }
}

.arrowDown {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
}

@media screen and (max-width: 760px) {
   .introductionContainer {
      height: calc(100vh - 9rem);
   }
}          
