:root{
    --color-black: #333; 
}

html{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--main-color-black);
}

body{
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 300;
    letter-spacing:0.9px;
}

p {
    letter-spacing: 0.7px;
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.3em;
}


@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 760px) {
    html{
        font-size:12px;
    }
}
